.navbar {
  width: 100%;
  height: 100px;
  background-color: #20272c;
  display: flex;
  justify-content: center; /* center everything horizontally */
  align-items: center; /* center vertically */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .rightSide {
  display: flex;
  gap: 20px; /* spacing between links */
}

.navbar .rightSide a {
  color: white;
  text-decoration: none;
  font-size: 36px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar .rightSide a:hover {
  color: #ffa500;
}


.navbar .hiddenLinks {
  display: none;
}

/* Responsive design for mobile */
@media only screen and (max-width: 768px) {
  .navbar .rightSide {
    display: none;
  }

  .navbar .hiddenLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .navbar .hiddenLinks a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
}

#open {
  display: block;
}

#close {
  display: none;
}

