.app {
  height: 100vh;
  padding: 0 100px;
  display: flex;

  justify-content: center;
  text-align: center;
}
  .addHome {
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    display: inline-block; /* Makes the button a block-level element */
    margin-left: 200px;
    margin-bottom: 10px;
  }

  .students {
    display: flex;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }

      button {
        padding: 3px 6px;
        background-color: white;
        cursor: pointer;
      }
       .delete {
        border: 1px solid rgb(245, 191, 191);
        color: rgb(242, 100, 100);
      }
      .update {
        border: 1px solid rgb(204, 204, 243);
        color: rgb(139, 139, 234);
      }

      table {
      width: 100%; 
      border-collapse: collapse; 
      margin: 20px 0; 
      font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

th {
  background-color: teal; 
  color: white; 
  padding: 5px; 
  text-align: center; 
  border: 1px solid #ddd; 
}

td {
  padding: 5px ; 
  border: 1px solid #ddd; 
}

tr:nth-child(even) {
  background-color: #d4eef5; 
}

tr:hover {
  background-color: #f7e5e5; 
}
    }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
      width: 250px;
      padding: 10px;
      border: 1px solid gray;
    }

    textarea {
      padding: 10px;
    }

    button {
      border: none;
      padding: 10px;
      background-color: white;
      background-color: teal;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
   
  }

